@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap");

:root {
  --lexend-ceda: "Lexend Deca", sans-serif;
  --big-shoulders: "Big Shoulders Display", cursive;
  --light-gray: hsl(0, 0%, 95%);
  --transparent-white: hsla(0, 0%, 100%, 0.75);
  --bright-orange: hsl(31, 77%, 52%);
  --dark-cyan: hsl(184, 100%, 22%);
  --very-dark-cyan: hsl(179, 100%, 13%);
}

* {
  padding: 0;
  margin: 0;
}

html,
body {
  touch-action: pan-x pan-y;
  overflow-x: hidden;
}

body {
  overflow: hidden;
  box-sizing: border-box;
  background: var(--light-gray);
}
